<% include admin-partials/admin_head.ejs %>
<% include admin-partials/headerAdmin.ejs %>
<main role="main">
	<% include admin-partials/navAdmin.ejs %>
	<section>
		<form action="/admin/spell_tool/edit/<%= result.id %>" class="patchForm" enctype="multipart/form-data">
			<input type="hidden" name="id" value="<%= result.id %>">

			<label for="name">Item Name</label>
			<input type="text" id="name" name="name" value="<%= result.name %>">

			<label for="picture">Picture</label>
			<input type="file" id="picture" name="picture">

			<img class="itemImg" src="/images/<%= result.picture %>" alt="">

			<label for="magic">Magic Adjust</label>
			<input type="text" id="magic" name="magic" <% if (!result.mag_adjust){%>
			value="0"
			<%} else{%>
			value="<%= result.mag_adjust %>">
			<%}%>

			<label for="damage">Damage</label>
			<input type="text" id="damage" name="damage" <% if (!result.damage){%>
			value="0/0/0/0"
			<%} else{%>
			value="<%= result.damage %>">
			<%}%>

			<label for="aux">AUX effect</label>
			<input type="text" id="aux" name="aux" <% if (!result.aux_effect){%>
			value="0/0/0/0"
			<%} else{%>
			value="<%= result.aux_effect %>">
			<%}%>

			<label for="reduction">Damage Reduction</label>
			<input type="text" id="reduction" name="reduction" <% if (!result.damage_reduction){%>
			value="0/0/0/0"
			<%} else{%>
			value="<%= result.damage_reduction %>">
			<%}%>

			<label for="critical">Critical</label>
			<input type="text" id="critical" name="critical" <% if (!result.critical){%>
			value="0"
			<%} else{%>
			value="<%= result.critical %>">
			<%}%>

			<label for="durability">Durability</label>
			<input type="text" id="durability" name="durability" <% if (!result.durability){%>
			value="0"
			<%} else{%>
			value="<%= result.durability %>">
			<%}%>

			<label for="stability">Stability</label>
			<input type="text" id="stability" name="stability" <% if (!result.stability){%>
			value="0"
			<%} else{%>
			value="<%= result.stability %>">
			<%}%>

			<label for="weight">Weight</label>
			<input type="text" id="weight" name="weight" <% if (!result.weight){%>
			value="0"
			<%} else{%>
			value="<%= result.weight %>">
			<%}%>

			<label for="requirements">Stat requirements</label>
			<input type="text" id="requirements" name="requirements" <% if (!result.stats_req){%>
			value="0/0/0/0"
			<%} else{%>
			value="<%= result.stats_req %>">
			<%}%>

			<label for="scaling">Stat Scaling</label>
			<input type="text" id="scaling" name="scaling" <% if (!result.stats_scale){%>
			value="0/0/0/0"
			<%} else{%>
			value="<%= result.stats_scale %>">
			<%}%>

			<label for="type">Type</label>
			<select name="type" id="type">
				<% spell_tool.forEach(type => { %>
				<option value="<%= type.id %>" <% if (result.spell_tool_type==type.id ){%> selected
					<%} %>>
					<%= type.name %>
				</option>
				<% }); %>
			</select>

			<label for="notes">Notes</label>
			<textarea name="notes" id="notes" cols="30" rows="10"><%= result.notes %></textarea>

			<button type="submit">Update</button>
		</form>
	</section>
</main>
<script>
	const form = document.querySelector('.patchForm');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		let formData = new FormData();
		formData.append('name', form.name.value)
		formData.append('picture', form.picture.files[0])
		formData.append('magic', form.magic.value)
		formData.append('damage', form.damage.value)
		formData.append('aux', form.aux.value)
		formData.append('reduction', form.reduction.value)
		formData.append('critical', form.critical.value)
		formData.append('durability', form.durability.value)
		formData.append('stability', form.stability.value)
		formData.append('weight', form.weight.value)
		formData.append('requirements', form.requirements.value)
		formData.append('scaling', form.scaling.value)
		formData.append('type', form.type.value)
		formData.append('notes', form.notes.value)

		fetch(`/admin/spell_tool/edit/${this.id.value}`, {
				method: 'PATCH',
				body: formData
			})
			.then(response => {
				if (response.status === 200) {
					window.location.href = '/admin/spell_tools';
				}
			});
	});
</script>
</body>

</html>