<% include admin-partials/admin_head.ejs %>
<% include admin-partials/headerAdmin.ejs %>
<main role="main">
	<% include admin-partials/navAdmin.ejs %>
	<section>
		<form action="/admin/armor/edit/<%= result.id %>" class="patchForm" enctype="multipart/form-data">
			<input type="hidden" name="id" value="<%= result.id %>">

			<label for="name">Item Name</label>
			<input type="text" id="name" name="name" value="<%= result.name %>">

			<label for="picture">Picture</label>
			<input type="file" id="picture" name="picture">

			<img class="itemImg" src="/images/<%= result.picture %>" alt="">

			<label for="physical">Physical Defense</label>
			<input type="text" id="physical" name="physical" value="<%= result.defense_physical %>">

			<label for="elemental">Elemental Defense</label>
			<input type="text" id="elemental" name="elemental" value="<%= result.defense_elemental %>">

			<label for="resistance">Resistance</label>
			<input type="text" id="resistance" name="resistance" value="<%= result.resistance %>">


			<label for="poise">Poise</label>
			<input type="text" id="poise" name="poise" value="<%= result.poise %>">


			<label for="durability">Durability</label>
			<input type="text" id="durability" name="durability" value="<%= result.durability %>">


			<label for="weight">Weight</label>
			<input type="text" id="weight" name="weight" value="<%= result.weight %>">


			<label for="type">Armor Slot</label>
			<select name="type" id="type">
				<% armor_slot.forEach(type => { %>
				<option value="<%= type.id %>" <% if (result.armor_slot==type.id ){%> selected
					<%} %>>
					<%= type.slot_name %>
				</option>
				<% }); %>
			</select>

			<label for="notes">Notes</label>
			<textarea name="notes" id="notes" cols="30" rows="10"><%= result.notes %></textarea>

			<button type="submit">Update</button>
		</form>
	</section>
</main>
<script>
	const form = document.querySelector('.patchForm');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		let formData = new FormData();
		formData.append('name', form.name.value)
		formData.append('picture', form.picture.files[0])
		formData.append('physical', form.physical.value)
		formData.append('elemental', form.elemental.value)
		formData.append('resistance', form.resistance.value)
		formData.append('poise', form.poise.value)
		formData.append('durability', form.durability.value)
		formData.append('weight', form.weight.value)
		formData.append('type', form.type.value)
		formData.append('notes', form.notes.value)

		fetch(`/admin/armor/edit/${this.id.value}`, {
				method: 'PATCH',
				body: formData
			})
			.then(response => {
				if (response.status === 200) {
					window.location.href = '/admin/armor';
				}
			});
	});
</script>
</body>

</html>