<% include admin-partials/admin_head.ejs %>
<% include admin-partials/headerAdmin.ejs %>
<main role="main">
	<% include admin-partials/navAdmin.ejs %>
	<section>
		<a class="newData" href="/admin/weapons/new">Opret et nyt hold</a>
		<table>
			<tr>
				<th>ID</th>
				<th>Picture</th>
				<th>Name</th>
				<th>Damage</th>
				<th>AUX effect</th>
				<th>Damage Reduction</th>
				<th>Critical</th>
				<th>Durability</th>
				<th>Range</th>
				<th>Stability</th>
				<th>Weight</th>
				<th>Stat requirements</th>
				<th>Stat Scaling</th>
				<th>Type</th>
				<th>Notes</th>
				<th>Rediger / Slet</th>
			</tr>
			<% results.forEach(result => { %>
			<tr>
				<td>
					<%= result.id %>
				</td>
				<td>
					<img class="itemImg" src="../images/<%= result.picture %>" alt="">
				</td>
				<td>
					<%= result.name %>
				</td>
				<td>
					<%= result.damage %>
				</td>
				<td>
					<% if (!result.aux_effect){%>
					-
					<%} else{%>
					<%= result.aux_effect %>
					<%} %>
				</td>
				<td>
					<%= result.damage_reduction %>
				</td>
				<td>
					<%= result.critical %>
				</td>
				<td>
					<%= result.durability %>
				</td>
				<td>
					<% if (!result.bow_range){%>
					-
					<%} else{%>
					<%= result.bow_range %>
					<%} %>
				</td>
				<td>
					<% if (!result.stability){%>
					0
					<%} else{%>
					<%= result.stability %>
					<%} %>
				</td>
				<td>
					<%= result.weight %>
				</td>
				<td>
					<%= result.stats_req %>
				</td>
				<td>
					<%= result.stats_scale %>
				</td>
				<td>
					<%= result.weapon_type %>
				</td>
				<td>
					<% if (!result.notes){%>
					-
					<%} else{%>
					<%= result.notes %>
					<%} %>
				</td>
				<td>
					<div>
						<a href="/admin/weapons/edit/<%= result.id %>">
							<p>Rediger</p><i class="fas fa-edit"></i>
						</a>
						<hr>
						<a href="/admin/weapons/delete/<%= result.id %>">
							<p>Slet</p><i class="fas fa-trash"></i>
						</a>
					</div>
				</td>
			</tr>
			<% }); %>
		</table>
	</section>
</main>
</body>

</html>