<% include admin-partials/admin_head.ejs %>
<% include admin-partials/headerAdmin.ejs %>
<main role="main">
	<% include admin-partials/navAdmin.ejs %>
	<section>
		<form class="patchForm">
			<input type="hidden" name="id" value="<%= current.id %>">

			<label for="name">Hold Navn</label>
			<input type="text" id="name" name="name" value="<%= current.name %>">

			<label for="age">Alder</label>
			<select name="age_id" id="age">
				<% ages.forEach(age => { %>
				<option value="<%= age.id %>" <% if (current.age_id==age.id ){%> selected
					<%} %>>
					<%= age.title %>
				</option>
				<% }); %>
			</select>

			<label for="level">Niveau ID</label>
			<select name="level_id" id="level">
				<% levels.forEach(level => { %>
				<option value="<%= level.id %>" <% if (current.level_id==level.id ){%> selected
					<%} %>>
					<%= level.title %>
				</option>
				<% }); %>
			</select>

			<label for="style_id">Stil ID</label>
			<select name="style_id" id="style">
				<% dances.forEach(dance => { %>
				<option value="<%= dance.id %>" <% if (current.style_id==dance.id ){%> selected
					<%} %>>
					<%= dance.title %>
				</option>
				<% }); %>
			</select>

			<label for="instructor">Instruktør ID</label>
			<select name="instructor_id" id="instructor">
				<% instructors.forEach(instructor => { %>
				<option value="<%= instructor.id %>" <% if (current.instructor_id==instructor.id ){%> selected
					<%} %>>
					<%= instructor.name %>
				</option>
				<% }); %>
			</select>


			<label for="price">Pris</label>
			<input type="text" id="price" name="price" value="<%= current.price %>">

			<button type="submit">Updater</button>
		</form>
	</section>
</main>
<script>
	const form = document.querySelector('.patchForm');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		fetch(`/admin/klasser/edit/${this.id.value}`, {
				method: 'PATCH',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					name: form.name.value,
					age_id: form.age_id.value,
					level_id: form.level_id.value,
					style_id: form.style_id.value,
					instructor_id: form.instructor_id.value,
					price: form.price.value
				})
			})
			.then(response => {
				if (response.status === 200) {
					window.location.href = '/admin/klasser';
				}
			});
	});
</script>
</body>

</html>